<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woozy - Home</title>
    <link rel="stylesheet" href="Styles/style.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <a class="logo" href="/">WOO<span style="color: var(--primary);">ZY</span></a>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <a class="cta" href="link">Try it now!</a>
        <a class="cta menu" href="link">Try it now!</a>
    </header>
    <main>
        <section class="home" id="home">
            <div class="image">
                <img src="Assets/woozy.png" alt="Logo" />
            </div>
            <div class="content">
                <h3>Woo<a style="color: var(--primary);">zy</a> - The only tool you <a
                        style="color: var(--primary);">need!</a></h3>
                <hr>
                <p>Are your links too <a style="color: var(--primary);">hideous</a> and <a
                        style="color: var(--primary);">spun-out</a>? Why don't you wooz it!</p>
                <a href="link"><button>Try it now for free!</button></a>
            </div>
        </section>
        <section class="about" id="about">
            <div class="content">
                <h3>What is <span>W</span><span>o</span><span>o</span><span>z</span><span>y</span>!?</h3>
                <p>Woozy is a free link shortening tool made for fun by <a href="https://neutral.lol"
                        style="color: var(--primary); text-decoration: none;">Neutral</a>. Woozy can help you shorten
                    your hideous, spun-out
                    link into a nice and <a style="color: var(--primary);">comfy</a> one. You have options to
                    <a style="color: var(--primary);">save</a> links and <a style="color: var(--primary);">view</a>
                    them! It's <a style="color: var(--primary);">free</a> to use and <a
                        style="color: var(--primary);">no sign-up</a> is
                    needed!
                </p>
            </div>
            <div class="image">
                <img src="" alt="Logo" />
            </div>
        </section>
        <footer>
            <p>Copyright &copy; 2022 Woozy. All Rights Reserved.</p>
        </footer>
    </main>

    <script src="Scripts/script.js"></script>
</body>

</html>