<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woozy - Success</title>
    <link rel="stylesheet" href="Styles/style.css" type="text/css">
</head>

<body>
    <center>
        <p>Success!</p>
        <p>Your woozy link: <a href="<%= shortURL %>">
                <%= shortURL %>
            </a></p>
        <p>Your original link: <a href="<%= longURL %>">
                <%= longURL %>
            </a></p>
    </center>
</body>

</html>